[Unit]
Description=Temperature Monitor
After=multi-user.target

[Service]
Type=idle
ExecStart=/usr/bin/python3 /home/pi/bin/TemperatureMonitor.py

[Install]
WantedBy=multi-user.target
